.button {
	display: block;
	text-align: center;
	padding: 10px 32px;
	font-family: inherit;
	@include font(16px, 700, $white-color, 0.06em, 1.86);
	cursor: pointer;
	background-color: $lightblue-color;
	border: none;
	border-color: transparent;
	box-shadow: none;
	border-radius: 4px;
	transition: background-color 0.25s $timing, box-shadow 0.25s $timing, border-radius 0.25s $timing;
	.hero &:hover,
	.hero &:focus {
		border-radius: 0px;
		background-color: #188ce8;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		transition: background-color 0.25s $timing, box-shadow 0.25s $timing,
			border-radius 0.25s $timing;
	}
}
