.contacts {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.contacts__item:not(:last-child) {
	margin-right: 50px;
}
.contacts__link {
	display: flex;
	align-items: center;
	@include font(14px, 500, $second-text-color, 0.02em, 1.14);
	transition: color 0.25s $timing;
	&:hover,
	&:focus {
		color: $lightblue-color;
		transition: color 0.25s $timing;
	}
}
.contacts__icon {
	margin-right: 10px;
	fill: $second-text-color;
	transition: fill 0.25s $timing;
	.contacts__link:hover &,
	.contacts__link:focus & {
		fill: $lightblue-color;
		transition: fill 0.25s $timing;
	}
}
