body {
	font-family: "Roboto", sans-serif;
	@include font(14px, 400, $main-text-color, 0.02em, 1.14);
	background-color: $white-color;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
textarea {
	resize: none;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}
.link {
	display: block;
	padding-bottom: 32px;
	padding-top: 32px;
	color: $main-text-color;
}
.border {
	border-top: 1px solid #ececec;
}
.current {
	color: $lightblue-color;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section__title {
	margin-bottom: 50px;
	@include font(36px, 700, inherit, 0.03em, 1.17);
	text-align: center;
}
